version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5
    versioning-strategy: "increase"

    commit-message:
      prefix: "chore(deps)"

    labels:
      - "dependencies"

    groups:
      eslint:
        patterns:
          - "eslint*"
          - "@eslint/*"
      prettier:
        patterns:
          - "prettier*"
      tooling:
        patterns:
          - "*config*"
          - "*plugin*"

    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
